.profile__info {
    display: flex;
    align-items: center;
    
}

@media screen and (max-width: 650px) {
    .profile__info {
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
  }